.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.dot {
  display: inline-block;
  height: 14px;
  width: 14px;
  margin: 0 14px 0 0;
  border-radius: 50%;
  animation: dotLoaders 1.2s linear infinite forwards;
}

.dot.dot-1 {
  animation-delay: 0.25s;
}

.dot.dot-2 {
  animation-delay: 0.5s;
}

.dot.dot-3 {
  animation-delay: 0.75s;
}

@keyframes dotLoaders {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.8);
  }
  50% {
    background-color: rgb(0, 0, 0);
    transform: scale(1.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0.8);
  }
}
